<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Forecast</title>

        <script>
            async function showWeatherInfo(e) {
                e.preventDefault();
                let location = document.getElementById("locationBox").value
                let result = await axios(`/weather?q=${location}`)

                document.getElementById("weather-header").innerHTML = `Weather at ${location}`
                document.getElementById("weather-tempbox").innerHTML = `Temperature: ${result.data.temp}`
                document.getElementById("weather-windspeedbox").innerHTML = `Humidity: ${result.data.wind_speed}`

                document.getElementById("weather-card").style.visibility = "visible"

            }
        </script>
    </head>
    <body>
        <div class="container">
            <h1 class="app-title"> Weather Info Site</h1>
            <div class="card">
                <form>
                    <input id="locationBox" type="text" name="q" placeholder="Enter Location" />
                    <input type="submit" onclick="showWeatherInfo(event)"/> 
                </form>
            </div>

            <div id="weather-card" class="card" style="visibility: hidden">
                <h1 id="weather-header">Weather at XXX </h1>
                <p id="weather-tempbox">Temperature: </p>
                <p id="weather-windspeedbox">Wind Speed: </p>
            </div>
        </div>
    </body>
</html>